<div class="row">
	<div class="large-2 columns">

		<div id="timeline">
			<div ng-repeat="screen in screens" style="position: relative;" ng-click=set(screen)>
				<h5 style="position: absolute; bottom: 0; right: 0">{{screen.start_time}}</h5>
				<img src="./assets/screen_shot.png">
			</div>
			
		</div>
	</div>

	<div class="large-8 columns">
		<div class="row">
			<div class="large-12 columns">
				<h1 style="text-align: center"><strong>U</strong>ser <strong>I</strong>nterfacing <strong>V</strong>isualizer</span></h1>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">

				<div class="heat_container">
					<div class="overlay heatmap">
						<img src="./assets/screen_shot.png">
					</div>
				</div>

				<div class="heat_container1">
					<div class="overlay heatmap1">
						<img src="./assets/keyboard.png">
					</div>
				</div>
			</div> 
		</div>
	</div>

	<div class="large-2 columns">

		<div id="stats">
			<h3>Statistics:</h3>
			<p>Top Letters: QWOP</p>
			<p>Number of clicks: 213</p>
			<p>Number of key presses: 542</p>
		</div>
	</div>

</div>

