<div class="row" style="max-width: none; height: 100%;"> 
	<div class="large-2 columns panels" style="padding: 0; padding-top: 15px;">
		<p id="play" ng-click="play()" style="display: inline; margin: 0 10px 0 50px; cursor: pointer;">Play</p> <p id="pause" ng-click="pause()" style="display: inline; margin:  5px; cursor: pointer;">Pause</p>

		<div id="timeline">
			<div ng-repeat="screen in screens" style="position: relative; padding: 5px; cursor: pointer;" ng-click="set(screen, $index)"
			data-ng-class="{'active' : toggleObject.item == $index}">
				<h5 style="position: absolute; bottom: 0; right: 8px">{{$index}}</h5>
				<img src="./assets/screenshots/screenshort_{{$index * 10}}.png">
			</div>
			
		</div>
	</div>

	<div class="large-8 columns panels" style="background-color: #F7F7F7;">

		<div class="row">
			<div class="large-12 columns">

				<div class="heat_container">
					<div class="overlay heatmap">
						<img src="{{active_image}}">
					</div>
				</div>

				<div class="heat_container1">
					<div class="overlay heatmap1">
						<img src="./assets/keyboard.png">
					</div>
				</div>
			</div> 
		</div>
	</div>

	<div class="large-2 columns panels">

		<div id="stats">
			<h3>Statistics:</h3>
			<p>Number of mouse movements: {{mouse_count}}</p>
			<p>Number of mouse clicks: {{click_count}}</p>
			<p>Number of key presses: {{key_count}}</p>
		</div>
	</div>

</div>

