/* css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html h1, h2, h3, h4, h5, p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body{
	height: 100%;
	
}

#banner{
	max-width: none;
	margin: 0;
	background: #9E9E9E; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(90deg, #9E9E9E, #C3C3C3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(90deg, #9E9E9E, #C3C3C3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(90deg, #9E9E9E, #C3C3C3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(90deg, #9E9E9E, #C3C3C3); /* Standard syntax */
}


.heat_container .overlay{
	position: absolute;
	width: 500px;
	height: 312.5px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.heat_container1 .overlay{
	position: absolute;
	width: 420px;
	height: 195px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}


canvas{
	opacity: 0.5;
}

.heat_container img{
	position: absolute;
	top: 0;
	left: 0;
}

.heat_container1 img{
	position: absolute;
	top: 0;
	left: 0;
	width: 420px;
	height: 195px;
}

.panels{
	border-left: 1px solid #9C9C9C;
	border-right: 1px solid #9C9C9C;
	padding: 10px;
	height: 100% !important;
}

#timeline{
	margin: 20px 0;
	overflow-y: scroll;
	height: 550px;
}

#timeline img{
	height: 100px;
	margin: 5px;
}

#stats{
	padding: 0 10px;
}


#pause{
	font-weight: bold;
}

.active{
	background-color: #FEA2A2;
}