/* css */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html h1, h2, h3, h4, h5, p{
	font-family: 'Fjalla One', sans-serif;
}

body{
	height: 100%;
	background-color: #F7F7F7;
}


.heat_container .overlay{
	position: absolute;
	width: 500px;
	height: 312.5px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.heat_container1 .overlay{
	position: absolute;
	width: 420px;
	height: 195px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}


canvas{
	opacity: 0.5;
}

.heat_container img{
	position: absolute;
	top: 0;
	left: 0;
}

.heat_container1 img{
	position: absolute;
	top: 0;
	left: 0;
	width: 420px;
	height: 195px;
}

#timeline{
	margin: 20px 0;
	overflow-y: scroll;
	height: 550px;
}

#timeline img{
	height: 100px;
	margin: 5px;
}

#stats{
	margin-top: 400px;
}